@import "../../variables.scss";

.order-details-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.order-details-buttons {
    display: flex;
    justify-content: flex-end;
}

.order-title {
    font-size: 1.2rem;
}


table {
    border-collapse: collapse;
    width: 100%;
    th {
        font-size: 1.2rem;
        color: $uui-color-white;
        background-color: $uui-color-purple;
        text-align: center;
    }
    td {
        text-align: center;
    }
}

.non-purchaned {
    background-color: white;
}
.purchased {
    background-color: white;
}

@media (max-width: $mobile-width) {

    .non-purchaned {
        background-color: $uui-color-purple;
    }

    .purchased {
        background-color: green;
    }

    thead {
        display: none;
    }

    table {
        tr {
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 12px 1px rgb(102, 0, 102);
            border-top: 0;
            padding: 10px;
            margin-top: 15px;
            color: $uui-color-white;
        }
        td {
            text-align: left;
            &:first-child {
                display: none;
            }
            &:nth-child(2){
                font-size: 1.2rem;
            }
            &:nth-child(5){
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                align-content: flex-end;
                flex-direction: row;
            }
        }
    }

    input[type=checkbox] {
        width: 1.5rem;
        height: 1.5rem;
        -moz-appearance: none;
    }
}
