@import "../../variables.scss";

.order-details-header {
    text-align: center;
    font-size: 1.2rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    th {
        font-size: 1.2rem;
        color: $uui-color-white;
        background-color: $uui-color-purple;
        text-align: center;
    }
    td {
        text-align: center;
    }
}

@media (max-width: $mobile-width) {
    thead {
        display: none;
    }

    table {
        tr {
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 12px 1px rgb(102, 0, 102);
            border-top: 0;
            padding: 10px;
            margin-top: 15px;
            background-color: $uui-color-purple;
            color: $uui-color-white;
        }
        td {
            text-align: left;
            &:first-child {
                display: none;
            }
            &:nth-child(2){
                font-size: 1.2rem;
            }
        }
    }
}
