.order-details-header {
    text-align: center;
}

.order-details-container-header > span {
    text-align: center;
}

.order-details-container {
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 1fr;    
    row-gap: 2rem;
}

.order-details-container-header {
    background-color: lightgray;
    text-align: center;
}

.order-details-container-center-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-details-container-header, .order-details-container-center-item, .order-details-container-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}