<div *ngIf="OrderDetailsDto$ | async as orderDetailsDto">
    <div class="order-details-header">
        <p class="order-title">
            {{orderDetailsDto.title}}
        </p>
    </div>
    <div class="order-details-buttons">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-warning" (click)="onDeleteOrder($event)">Delete Order</button>
            <button type="button" class="btn btn-outline-primary" (click)="onAddNewOrderProduct($event)">&#43;Add Product</button>
        </div>
    </div>

    <table>
        <thead>
            <th>No.</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Purchased</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <ng-container *ngFor="let product of  orderDetailsDto.orderProducts; index as number">
                <tr [ngClass]="{'purchased': product.purchased,
                            'non-purchaned': !product.purchased}">
                    <td>{{number + 1}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>                        <input
                        type="checkbox" 
                        [checked]="product.purchased" 
                        (change)="onChanged($event.target.checked, product)">
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-warning" (click)="onDeleteOrderProduct($event, product.orderProductId)">DELETE</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>