<div *ngIf="order">
    <div class="order-details-header">
        <p>
            {{order.title}}
        </p>
    </div>
    <!--<div class="order-details-container-header">
        <span>No.</span>
        <span>Product Name</span>
        <span>Quantity</span>
        <span>Purchased</span>
    </div>-->
    <div class="order-details-container">
        <span>No.</span>
        <span>Product Name</span>
        <span>Quantity</span>
        <span>Purchased</span>
        <ng-container *ngFor="let product of order.orderProducts; index as number">
                <span>{{number + 1}}</span>
                <span>{{product.name}}</span>
                <span class="order-details-container-center-item">{{product.quantity}}</span>
                <div class="order-details-container-center-item">
                    <input
                        type="checkbox" 
                        [checked]="product.purchased" 
                        (change)="product.purchased = !product.purchased">
                </div>
        </ng-container>
    </div>
</div>