@import "../../variables.scss";

.order-list-container {
    display: flex;
    flex-direction: column;
}

.order-container {
    flex: 1 0 100%;
    margin: 0.4rem;
    padding: 0.4rem;
    text-align: center; 
    background-color: $uui-color-purple;   
}

a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: white;
}
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: note;
}