.link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .link-container > a {
    flex: 1 0 auto;
    padding: 0.4rem;
    text-align: center;
    color: purple;
  }

  .link-container> a:hover {
    background-color: grey;
  }